@page
@model Web.Pages.BasketModel
@{

}<div class="d-flex justify-content-center margin-top-150px">
    <div class="col-8">
        @foreach (var product in Model.BasketItems)
        {
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block">
                        <img src="" class="card-img bg-secondary" />
                    </div>
                    <div class="d-inline-block">
                        <h5>@product.Name</h5>
                        <p>@product.Description</p>
                    </div>
                    <div class="d-inline-block float-end">
                        <input id="item@(product.Id)TotalPrice" type="hidden" value="@product.TotalPrice" />
                        <input id="item@(product.Id)Price" type="hidden" value="@product.Price" />
                        <h5 class="text-end">(@product.Price.ToString("C2"))</h5>
                        <h5 class="text-end" id="item@(product.Id)TotalPriceText">@product.TotalPrice.ToString("C2")</h5>
                        <div class="d-flex justify-content-end mt-2">
                            <div class="col-2 me-2">
                                <input type="number" step="0.00" value="@product.Amount" onchange="updateAmount(@product.Id, this.value)" class="form-control text-center" />
                            </div>
                            <div>
                                <button class="btn btn-danger" onclick="removeProduct(@product.Id)"><i class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="card mt-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="col-12 m-0">Total:</p>
                        <p class="col-12 m-0" id="basketTotal">@Model.BasketItems.Sum(x => x.TotalPrice).ToString("C2")</p>
                    </div>
                    <div>
                        <a asp-page="Index" class="btn btn-outline-secondary">Fortsæt handlen</a>
                        <a asp-page="Checkout" class="btn btn-success">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>