@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center margin-top-150px row gx-5">
    <div class="col-2 border">
        <form method="post" asp-page-handler="Search">
            <div class="d-flex flex-column">
                <h5 class="my-3">Filter</h5>
                @foreach (var item in Model.ManufacturersFilter)
                {
                    <div class="d-flex justify-content-between">
                        <p>@item.Text</p>
                        <input type="checkbox" name="ManufacturerIds" class="form-check-input" value="@item.Value" checked="@item.Selected" />
                    </div>
                }
                <h5 class="my-3">Sortering</h5>
                <select class="form-select-sm" asp-for="OrderBy" asp-items="Html.GetEnumSelectList<ServiceLayer.Enums.OrderByEnum>()"></select>
                <input type="hidden" asp-for="Search" value="@Model.Search" />
                <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId" />
                <input value="Søg" class="btn btn-success my-3" type="submit" />
            </div>
        </form>
    </div>
    <div class="col-8">
        @if (!string.IsNullOrWhiteSpace(Model.Search))
        {
            <p>Søgeresultater for "@Model.Search"</p>
        }
        @foreach (var product in Model.Products)
        {
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block me-3">
                        <img src="@(product.Image?.ImageData != null ? $"data:image/png;base64, {Convert.ToBase64String(product.Image.ImageData)}" : "/Images/image-not-found-icon.svg")" height="100" class="card-img" />
                    </div>
                    <div class="d-inline-block">
                        <h5>@product.Name</h5>
                        <p>@product.Description</p>
                    </div>
                    <div class="d-inline-block float-end">
                        <h5>@product.Price.ToString("C2")</h5>
                        <form method="post" asp-page-handler="AddProduct" asp-route-productId="@product.ProductId">
                            <button class="btn btn-success col-12" type="submit"><i class="bi bi-bag-check"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <nav class="">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
